.select-none {
    -webkit-user-select: none;
    -moz-user-select: none;
}

.small-headline-header:after {
    clear: both;
}

.site-menu:after,
.site-menu:before,
.site-search:after,
.site-search:before,
.slick-slide.dragging img {
    pointer-events: none;
}

.title-group.secondary h1:after {
    display: none;
}